html {
    color: #424242;
}

.header {
    background: url(../images/News-Apps.jpg) center center no-repeat;
    text-align: center;
    margin: 0 auto;
    background-size: cover;
    text-shadow:     
        -2px -2px 0 #1a237e,
         2px -2px 0 #1a237e,
        -2px 2px 0 #1a237e,
         2px 2px 0 #1a237e;
    color: #8c9eff;
}

.card {
    text-align: center
}